.banner {
  background-image: url('/images/background.jpg');
  background-size: cover;
  height: 550px;
  text-align: left;
  color: white;
}

.banner > .container {
  width: 900px;
  display: block;
  padding-top: 150px;
  padding-left: 11px;
  text-align: left;
  margin: auto;
}

.banner p {
  color: rgb(250, 250,250);
  font-size: 18px;
}

.btn-primary {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: bisque;
  display: inline-block;
}
